body{
    background-color: rgb(37, 18, 38);
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

.box{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}
.x{
    width: 30%;
    box-sizing: border-box;
    padding: 5px;
    background-color: rgb(9, 5, 26);
    border-radius: 4px;
    border: 1px solid blue;

}

.h{
    text-align: center;
    width: 30%;
    color: blueviolet;
}

.result{
    text-align: center;
    color: red;
}
.button{
    width: 30%;
}

.btn{
    display: block;
    width: 100%;
    padding: 6px;
    color: black;
    background-color: blueviolet;
    border: black;
    border-radius: 2px;
    font-weight: bold;
}

.btn:hover{
    background-color:rgb(146, 70, 217);
}
input{
    width: 100%;
    border: none;
    background-color:  rgb(9, 5, 26);
}

span{
    color: white;
    padding: 3px;
}


